! prevent xterm rce 
Xterm*allowFontOps: false

! TO RELOAD, EXECUTE: xrdb -merge ~/.Xresources
Xft.dpi: 96
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! cursor theme must be existing dir in ~/.icons or /usr/local/share/icons
Xcursor.theme: Adwaita

Xcursor.size: 64

XTerm*faceName: Gohu Gohufont
xterm*faceSize: 10
! xterm*vt100*geometry: 80x60
xterm*loginShell: true
XTerm*charClass: 33:48,37:48,43:48,45-47:48,64:48,126:48,95:48
!xterm*termName: xterm-color
xterm*eightBitInput: false
XTerm*SaveLines: 30000

XTerm*cursorColor: #dd00ee
XTerm*cursorBlink: true
XTerm*cursorOffTime: 100
XTerm*cursorOnTime: 100


!BLK Cursor
! background screen color
#define _color0        #1c1c1c
#define _color8        #cccccc
!RED Tag
#define _color1        #d0120e
#define _color9        #d0120e
!GRN SpecialKey
#define _color2        #d0ed0e
#define _color10       #d0ed0e
!YEL Keyword
#define _color3        #d0ed0e
#define _color11       #d0ed0e
!BLU Number
#define _color4        #ed0ed0
#define _color12       #ed0ed0
!MAG Precondit
#define _color5        #dd00ee
#define _color13       #dd00ee
!CYN Float
#define _color6        #d0ed0e
#define _color14       #d0ed0e
!WHT Search
! in mc   its link color
#define _color7        #cccccc
#define _color15       #cccccc
!FMT Include, StatusLine, ErrorMsg
#define _colorBD       #ffcfaf
#define _colorUL       #ccdc90
#define _colorIT       #80d4aa
!TXT Normal, Normal, Cursor
#define _foreground    #ff0000
#define _background    #1c1c1c
#define _cursorColor   #dd00ee
